.catalog-menu {
  @include list;
  @include font(19px, 24px);
  color: $black;

  @media (min-width: $tablet-width) {
    @include font(20px, 30px);
  }
}

.catalog-menu__item {
  flex-basis: $mobile-width;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 24px 30px;

  &:nth-child(1) {
    background-color: $theme-basic;
  }

  &:nth-child(2) {
    background-color: $theme-dark;
  }

  &::after {
    @include pseudo(block, static);
  }
}

.catalog-menu__link {
  color: $white;
}
