.catalog-menu {
  display: flex;
  flex-direction: column;

  @include list;
  @include font(19px, 24px);

  @media (min-width: $tablet-width) {
    flex-direction: row;

    @include font(20px, 30px);
  }
}

.catalog-menu__item {
  margin: 0;
  margin-bottom: -5px;

  &:nth-child(1) {
    background-color: $theme-basic;

    & .catalog-menu__link:hover:not(:focus),
    & .catalog-menu__link:focus {
      background-color: $theme-basic-hover;
      transform: translateY(-5px);
    }
  }

  &:nth-child(2) {
    background-color: $theme-dark;

    & .catalog-menu__link:hover:not(:focus),
    & .catalog-menu__link:focus {
      background-color: $theme-dark-hover;
      transform: translateY(-5px);
    }
  }

  @media (min-width: $tablet-width) {
    flex-basis: $mobile-width;
    flex-grow: 1;
  }
}

.catalog-menu__link {
  display: block;
  width: 100%;
  color: $white;
  padding: 23px 27px 5px 30px;

  @media (min-width: $tablet-width) {
    padding: 26px 30px 20px 36px;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 30px 20px 36px;
  }
}

.catalog-menu__wrapper {
  display: flex;
  justify-content: space-between;

  &::after {
    @include pseudo(block, static);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &--decor::after {
    background-image: url("../img/icon-interior.svg");
    background-position: 30px 0;

    @media (min-width: $tablet-width) {
      background-position: 34px 5px;
    }
  }

  &--toy::after {
    background-image: url("../img/icon-toy.svg");
    background-position: 20px -2px;

    @media (min-width: $tablet-width) {
      background-position: 17px 7px;
    }
  }

  &:hover::after {
    opacity: 0.7;
  }

  .catalog-menu__link:focus &::after {
    opacity: 0.7;
  }

  .catalog-menu__link:active &::after {
    opacity: $opacity-active;
  }
}

.catalog-menu__text {
  max-width: 130px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 160px;
  }
}
