.catalog {
  margin: 0 0 30px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding-top: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
    padding-top: 127px;
  }
}

.catalog__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 30%;
    margin-bottom: 57px;
  }
}
