.catalog-menu {
  display: flex;
  flex-direction: column;

  @include list;
  @include font(19px, 24px);

  @media (min-width: $tablet-width) {
    flex-direction: row;

    @include font(20px, 30px);
  }
}

.catalog-menu__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;

  @media (max-width: $tablet-width - 1) {
    padding: 24px 30px;
  }

  @media (min-width: $tablet-width) {
    flex-basis: $mobile-width;
    flex-grow: 1;
    padding: 24px 30px 24px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 36px 24px 36px;
  }

  &:nth-child(1) {
    background-color: $theme-basic;
  }

  &:nth-child(2) {
    background-color: $theme-dark;
  }

  &::after {
    @include pseudo(block, static);
  }
}

.catalog-menu__link {
  max-width: 130px;
  display: block;
  color: $white;

  @media (min-width: $tablet-width) {
    max-width: 160px;
  }
}
