.choice-form__choice-block {
  @include reset-indent;
  border: none;
  color: $text-dark;
}

.choice-form__text {
  margin: 0 auto 22px;

  @include font(15px, 30px, normal);

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.choice-form__choice-block-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.choice-form__label {
  flex-grow: 1;
  margin: 0;
  margin-right: 7px;
  padding: 14px 15px;
  text-align: center;

  @include font(17px, 20px);
  border: 2px solid rgba($text-dark, $opacity-shadow);
  cursor: pointer;

  &:hover {
    border: 2px solid rgba($text-dark, $opacity-active);
  }

  .choice-form__choice-button:checked + &,
  .choice-form__choice-button:focus + & {
    border: 2px solid $theme-modified;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.choice-form__button {
  width: 100%;
  max-width: none;
  font: inherit;
  cursor: pointer;
}
