.choice-form__choice-block {
  border: none;
  color: $text-dark;
}

.choice-form__text {
  @include reset-indent;
  @include font(15px, 30px, normal);
}

.choice-form__label {
  @include font(17px, 20px);
  border: 2px solid rgba($text-dark, $opacity-shadow);

  &:hover {
    border: 2px solid rgba($text-dark, $opacity-hover);
  }
}

.choice-form__button {
  font: inherit;
}
