.goods-cart {
  @include reset-indent;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  @media (min-width: $mobile-catalog-width) and (max-width: $tablet-width) {
    width: $mobile-catalog-width - 100;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    flex-direction: row;
    width: $tablet-width - 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
  }
}

.goods-cart__link {
  margin-bottom: 5px;
  color: $black;
}

.goods-cart__title {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &:hover {
    color: rgba($black, $opacity-hover);
  }

  .goods-cart__link:focus & {
    color: rgba($black, $opacity-hover);
  }

  .goods-cart__link:active & {
    color: rgba($black, $opacity-active);
  }
}

.goods-cart__photo-wrapper {
  @media (min-width: $tablet-width) {
    flex-shrink: 0;
  }
}

.goods-cart__photo {
  display: block;
  width: 100%;

  @media (min-width: $mobile-catalog-width) {
    width: $mobile-catalog-width - 100;
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.goods-cart__wrapper {
  display: block;
  padding: 28px 27px 15px 28px;
  border: 1px solid $grey;

  &:hover {
    box-shadow: 0 6px 10px rgba($black, $opacity-shadow);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($black, $opacity-shadow);
  }

  @media (min-width: $mobile-catalog-width) {
    width: $mobile-catalog-width - 100;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    padding: 27px 33px 12px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 32px 10px 26px;
  }
}

.goods-cart__description {
  @include reset-indent;
  margin-bottom: 20px;

  @include font(13px, 30px, normal);

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    flex-grow: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: auto;
  }
}

.goods-cart__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  border-top: 1px solid $grey;

  @media (min-width: $tablet-width) {
    align-self: stretch;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}

.goods-cart__price {
  @include reset-indent;
  @include font(15px, 24px);
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.goods-cart__button {
  display: block;
  width: 30px;
  height: 36px;
  text-align: right;

  svg {
    fill: rgba($black, $opacity-icon);
  }

  &:hover,
  &:focus {
    svg {
      fill: $theme-basic;
    }
  }

  &:active {
    svg {
      fill: rgba($theme-basic, $opacity-active);
    }
  }
}
