.goods {
  @include reset-indent;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 58px;
    margin-left: 175px;
  }
}

.goods__link {
  z-index: 2;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  color: $black;
}

.goods__title {
  position: relative;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 40px;

    &::after {
      @include pseudo(block, absolute, "Товар недели");
      margin-top: 5px;

      @include font(17px, 20px);
      text-transform: uppercase;
      color: $theme-basic;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    margin-right: 125px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
    margin-bottom: 35px;
  }
}

.goods__description {
  margin: 0;
  margin-bottom: 22px;

  @include font(15px, 24px, normal);

  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: start;
    margin-bottom: 0;
    margin-right: 42px;

    @include font(17px, 30px, normal);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.goods__features-list {
  @include reset-indent;
  margin-bottom: 29px;

  @include font(15px, 20px, normal);

  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: start;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 109px;
  }
}

.goods__features-item {
  display: flex;
  padding: 8px 0 11px;
  border-bottom: 1px solid $grey;
}

.goods__features-name {
  @include reset-indent;
  flex-basis: 97px;
  flex-grow: 0;
}

.goods__features-content {
  @include reset-indent;
}

.goods__photo {
  display: block;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    width: 334px;
    height: 404px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 1;
    grid-row-end: 6;
    margin-bottom: 0;
    width: 525px;
    height: 636px;
  }
}

.goods__price {
  @include reset-indent;
  margin-bottom: 24px;
  text-align: center;

  @include font(17px, 20px);

  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: end;
    margin-right: 42px;
    margin-bottom: 0;

    @include font(20px, 24px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.goods__button {
  grid-column: 1;
  align-self: end;

  @media (min-width: $tablet-width) {
    max-width: none;
    margin-right: 42px;
    margin-bottom: 0;
  }
}
