.hit {
  position: relative;
  margin-top: 0;
  margin-bottom: 36px;
  padding-top: 31px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
    margin-bottom: 73px;
  }

  &::after {
    @include line(100%, 6px);
    bottom: -40px;
    left: 0;

    @media (min-width: $tablet-width) {
      @include line(100%, 17px);
      bottom: -67px;
    }

    @media (min-width: $desktop-width) {
      @include line(1050px, 23px);
      left: 50px;
    }
  }
}

.hit__title {
  position: absolute;

  @include reset-indent;
  @include font(17px, 20px);
  text-transform: uppercase;
  color: $theme-basic;

  @media (max-width: $tablet-width - 1) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    max-width: 100px;
    text-align: center;
    line-height: 17px;
    top: 59px;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    top: 123px;
    left: 82px;
  }
}
