.hit {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 31px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 98px;
  }

  &::after {
    @include line(100%, 6px, url("../img/bg-zigzag-line.svg"));
    bottom: -5px;
    left: 0;

    @media (min-width: $tablet-width) {
      @include line(100%, 17px, url("../img/bg-zigzag-line.svg"));
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      @include line(1050px, 23px, url("../img/bg-zigzag-line.svg"));
      left: 50px;
    }
  }
}

.hit__title {
  position: absolute;

  @include reset-indent;
  @include font(17px, 20px);
  text-transform: uppercase;
  color: $theme-basic;

  @media (max-width: $tablet-width - 1) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    max-width: 100px;
    text-align: center;
    line-height: 17px;
    top: 59px;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    top: 142px;
    left: 82px;
  }
}
