.hit {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 31px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    padding-top: 50px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr 3fr;
    padding-top: 71px;
    padding-bottom: 98px;
  }

  &::after {
    @include line(100%, 6px, url("../img/bg-zigzag-line.svg"));
    bottom: -5px;
    left: 0;

    @media (min-width: $tablet-width) {
      @include line(100%, 17px, url("../img/bg-zigzag-line.svg"));
      bottom: -2px;
    }

    @media (min-width: $desktop-width) {
      @include line(1050px, 23px, url("../img/bg-zigzag-line.svg"));
      left: 50px;
      bottom: 0;
    }
  }
}

.hit__link {
  color: $black;

  @media (min-width: $tablet-width) {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.hit__title {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    margin-right: 125px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  &:hover {
    color: rgba($black, $opacity-hover);
  }

  .hit__link:focus & {
    color: rgba($black, $opacity-hover);
  }

  .hit__link:active & {
    color: rgba($black, $opacity-active);
  }
}

.hit__mark {
  margin: 0;
  margin-bottom: 15px;

  @include font(17px, 20px);
  text-transform: uppercase;
  color: $theme-basic;

  @media (min-width: $tablet-width) {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
    max-width: 100px;
    margin-top: 7px;
    margin-right: 13px;
    text-align: center;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    margin-top: 68px;
  }
}


.hit__description {
  margin: 0;
  margin-bottom: 22px;

  @include font(15px, 24px, normal);

  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: start;
    margin-bottom: 0;
    margin-right: 42px;

    @include font(17px, 30px, normal);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    margin-bottom: 15px;
    margin-right: 58px;
  }
}

.hit__features-list {
  @include reset-indent;
  margin-bottom: 29px;

  @include font(15px, 20px, normal);

  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: start;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    margin-bottom: 20px;
    margin-right: 58px;
  }
}

.hit__features-item {
  display: flex;
  padding: 8px 0 11px;
  border-bottom: 1px solid $grey;
}

.hit__features-name {
  @include reset-indent;
  flex-basis: 97px;
  flex-shrink: 0;
}

.hit__features-content {
  @include reset-indent;
}

.hit__photo-wrapper {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    margin-top: 15px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    margin-top: 0;
  }
}

.hit__photo {
  display: block;
  width: 100%;

  @media (min-width: $mobile-width + 140px) {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 404px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.hit__price {
  @include reset-indent;
  margin-bottom: 26px;
  text-align: center;

  @include font(17px, 20px);

  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: end;
    margin-right: 42px;
    margin-bottom: 5px;

    @include font(20px, 24px);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    margin-top: 40px;
    margin-right: 58px;
  }
}

.hit__button {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: end;
    max-width: none;
    margin-bottom: 3px;
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    margin-right: 58px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
