.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;

  @include reset-indent;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.main-nav__logo {
  align-self: center;
  padding-top: 22px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    width: 112px;
    height: 46px;
    padding: 0;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 148px;
    height: 72px;
    padding-top: 9px;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: $opacity-hover;
  }

  &[href]:active {
    opacity: $opacity-active;
  }
}

.main-nav__logo-img {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 148px;
    height: 72px;
  }
}

.main-nav__main-menu {
  @media (min-width: $tablet-width) {
    order: 2;
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    flex-basis: 42%;
  }

  &--closed {
    @media (max-width: $tablet-width - 1) {
      display: none;
    }
  }

  &--open-over {
    @media (max-width: $tablet-width - 1) {
      display: block;
      position: absolute;
      z-index: 7;
      background-color: $white;
      width: 100%;
      top: 79px;
    }
  }
}

.main-nav__user-nav {
  @media (min-width: $tablet-width) {
    order: 1;
    flex-basis: 80%;
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    flex-basis: 42%;
  }

  &--closed {
    @media (max-width: $tablet-width - 1) {
      display: none;
    }
  }

  &--open-over {
    @media (max-width: $tablet-width - 1) {
      display: block;
      position: absolute;
      z-index: 7;
      background-color: $white;
      width: 100%;
      top: 235px;
    }
  }
}

.main-nav__text {
  margin: 0;
  padding: 0;

  @include font(15px, 24px, normal);
  color: $text-dark;

  @media (max-width: $tablet-width - 1) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 40%;
    text-align: right;
    order: 3;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    align-self: flex-end;
    margin-left: auto;
    padding-top: 3px;
  }
}

.main-nav__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 24px;
  right: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: $opacity-active;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--cross {
    &::before {
      @include pseudo;
      width: 28px;
      height: 2px;
      top: 14px;
      left: 0;
      background-color: $black;
      transform: rotate(45deg);
    }

    &::after {
      @include pseudo;
      width: 28px;
      height: 2px;
      top: 14px;
      left: 0;
      background-color: $black;
      transform: rotate(-45deg);
    }
  }

  &--burger {
    &::before,
    &::after,
    span::after {
      @include pseudo;
      width: 20px;
      height: 2px;
      left: 4px;
      background-color: $black;
    }

    &::before {
      top: 8px;
    }

    &::after {
      top: 14px;
    }

    span::after {
      top: 20px;
    }
  }

  &--hidden {
    display: none;
  }
}
