$lineheight: 24px;
$padding: 26px;


.main-menu {
  @include list;

  @media (max-width: $tablet-width - 1) {
    width: 320px;
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: -1 * ($padding + $lineheight);
  }
}

.main-menu__item {
  @include font(17px, $lineheight);
  margin: 0;
  padding: 29px 35px $padding 76px;
  box-shadow: 0 1px 0 $grey, inset 0 1px 0 $grey;

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
    padding-bottom: 22px;
  }

  &--tablet {
    @media (max-width: $tablet-width - 1) {
      display: none;
    }
  }

  &--desktop {
    font-size: 15px;

    @media (max-width: $desktop-width - 1) {
      display: none;
    }
  }

  &--different-size {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      font-size: 15px;
    }
  }
}

.main-menu__link {
  color: $black;

  &:hover,
  &:focus {
    color: rgba($black, $opacity-hover);
  }

  &:active {
    color: rgba($black, $opacity-active);
  }
}
