.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @include reset-indent;
  min-width: $mobile-width;
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $text-dark;
  background-color: $white;

  &--modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
