.reviews {
  position: relative;
  margin-top: 0;
  margin-bottom: 45px;
  padding-top: 28px;
  padding-bottom: 0;

  &::after {
    @include line(320px, 6px);
    bottom: -50px;

    @media (min-width: $tablet-width) {
      @include line(100%, 17px);
      bottom: -135px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 82px;
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    margin-bottom: 90px;
  }
}

.reviews__title {
  @media (min-width: $tablet-width) {
    margin-bottom: -72px;
  }
}

.reviews__list {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-row-gap: 40px;
  }
}

.reviews__item {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;

  @include reset-indent;
}

.reviews__text {
  @include reset-indent;
  margin-bottom: 33px;

  @include font(15px, 30px, normal);

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author-name {
  @include reset-indent;
  @include font(17px, 24px);
  font-style: normal;
  color: $black;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__author-nickname {
  @include reset-indent;
  padding-top: 2px;

  @include font(17px, 30px, normal);
}

.reviews__controls {
  display: flex;
  justify-content: space-around;

  @include reset-indent;
  margin-top: 30px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    z-index: 3;
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    align-self: end;
    margin-bottom: 0;
  }
}

.reviews__toggle {
  width: 50%;
  height: 52px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $grey;

  @media (min-width: $tablet-width) {
    width: 88px;
  }

  &:hover,
  &:focus {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: $opacity-active;
  }

  &--back {
    background-image: url("../img/icon-left-arrow.svg");
    border-right: none;
  }

  &--forward {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews__button {
  @media (min-width: $tablet-width) {
    z-index: 3;
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    padding-left: 40px;
    padding-right: 40px;
  }
}
