.social {
  @include reset-indent;
  width: 100%;

  @media (max-width: $tablet-width - 1) {
    border-bottom: 1px solid $grey-modified;
  }

  @media (min-width: $tablet-width) {
    margin-top: 3px;
    margin-left: 75px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  @include reset-indent;
  margin-right: 41px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__icon {
  fill: $black;

  &:hover,
  &:focus {
    fill: $theme-dark-hover;
  }

  &:active {
    fill: rgba($theme-dark-hover, $opacity-active);
  }
}
