.video {
  @include reset-indent;
}

.video__description {
  @include reset-indent;
  @include font(13px, 24px, normal);

  @media (min-width: $tablet-width) {
    @include font(15px, 30px, normal);
  }
}

.video__button {
  max-width: none;
  width: auto;
  margin-left: 45px;
  margin-right: 45px;

  @media (min-width: $tablet-width) {
    margin-left: 42px;
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    max-width: 240px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
