.title {
  @include reset-indent;
  @include font(25px, 30px);
  color: $black;
}

.button {
  @include font(17px, 20px);
  display: block;
  width: 100%;
  margin: 0;
  padding: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $text-dark;
  background-color: $white;
  border: 2px solid $text-dark;
}

.catalog-title {
  @include reset-indent;
  @include font(17px, 24px);
  color: $black;
}
