$white: #ffffff;
$background-grey: #f1f1f1;
$background-grey-modified: #fafafa;
$black: #000000;
$text-dark: #444444;
$text-dark-opacify: #7c7c7c;
$icon-dark: #231f20;
$grey: #ececec;
$grey-modified: #e5e5e5;
$grey-border: #e0e0e0;
$grey-border-modify: #d9d9d9;
$theme-basic: #63d1bb;
$theme-basic-hover: #59d5bc;
$theme-dark: #56c3b2;
$theme-dark-hover: #46c1ae;
$theme-modified: #62d1ba;
$theme-extra-dark: #149080;
$theme-opacify: #d0f1eb;

$opacity-hover: 0.6;
$opacity-active: 0.3;
$opacity-placeholder: 0.3;
$opacity-icon: 0.2;
$opacity-shadow: 0.1;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-catalog-width: $mobile-width + 140px;
