$white: #FFFFFF;
$background-grey: #F1F1F1;
$black: #000000;
$text-dark: #444444;
$icon-dark: #231F20;
$grey: #ECECEC;
$modify-grey: #E5E5E5;
$theme-basic: #63D1BB;
$theme-basic-hover: #59D5BC;
$theme-dark: #56C3B2;
$theme-dark-hover: #46C1AE;
$theme-modified: #62D1BA;
$theme-extra-dark: #149080;

$opacity-hover: 0.6;
$opacity-focus: 0.3;
$opacity-placeholder: 0.3;
$opacity-icon: 0.2;
$opacity-shadow: 0.1;
